<section class="ftco-section bg-light">
    <div class="container-fluid">
        <div class="row">


            <div class="col-md-3">
                <div class="widget">
                  <h4 class="widget-title">Sort By</h4>
                </div>
      
                <div id="accordion">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5>
                        <a href="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Shirts
                        </a>
                      </h5>
                    </div>
      
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                        <ul class="list-unstyled">
                          <li><a href="">T-Shirts</a></li>
                          <li><a href="">Polos</a></li>
                          <li><a href="">Longsleeve</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
      
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5>
                        <a href="" class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                          Jeans
                        </a>
                      </h5>
                    </div>
      
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                        <ul class="list-unstyled">
                          <li><a href="">Slim</a></li>
                          <li><a href="">Boot</a></li>
                          <li><a href="">Straight</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
      
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5>
                        <a href="" class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                          Pants
                        </a>
                      </h5>
                    </div>
      
                    <div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                        <ul class="list-unstyled">
                          <li><a href="">Dress</a></li>
                          <li><a href="">Pleated</a></li>
                          <li><a href="">Cargo</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            <div class=" col-md-9  ftco-animate">
                <div class="product">
                    <a href="#" class="img-prod"><img class="img-fluid" src="images/product-1.jpg" alt="">
                        <span class="status">30%</span>
                    </a>
                    <div class="text py-3 px-3">
                        <h3><a href="#">Young Woman Wearing Dress</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span class="mr-2 price-dc">$120.00</span><span class="price-sale">$80.00</span></p>
                            </div>
                            <div class="rating">
                                <p class="text-right">
                                    <span class="ion-ios-star-outline"></span>
                                    <span class="ion-ios-star-outline"></span>
                                    <span class="ion-ios-star-outline"></span>
                                    <span class="ion-ios-star-outline"></span>
                                    <span class="ion-ios-star-outline"></span>
                                </p>
                            </div>
                        </div>
                        <hr>
                        <p class="bottom-area d-flex">
                            <a href="#" class="add-to-cart"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
                            <a href="#" class="ml-auto"><span><i class="ion-ios-heart-empty"></i></span></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg-3 ftco-animate">
                <div class="product">
                    <a href="#" class="img-prod"><img class="img-fluid" src="images/product-2.jpg" alt="Colorlib Template">
                        <span class="status">New Arrival</span>
                    </a>
                    <div class="text py-3 px-3">
                        <h3><a href="#">Young Woman Wearing Dress</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span>$120.00</span></p>
                            </div>
                            <div class="rating">
                                <p class="text-right">
                                    <span class="ion-ios-star-outline"></span>
                                    <span class="ion-ios-star-outline"></span>
                                    <span class="ion-ios-star-outline"></span>
                                    <span class="ion-ios-star-outline"></span>
                                    <span class="ion-ios-star-outline"></span>
                                </p>
                            </div>
                        </div>
                        <hr>
                        <p class="bottom-area d-flex">
                            <a href="#" class="add-to-cart"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
                            <a href="#" class="ml-auto"><span><i class="ion-ios-heart-empty"></i></span></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg-3 ftco-animate">
                <div class="product">
                    <a href="#" class="img-prod"><img class="img-fluid" src="images/product-3.jpg" alt="Colorlib Template"></a>
                    <div class="text py-3 px-3">
                        <h3><a href="#">Young Woman Wearing Dress</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span>$120.00</span></p>
                            </div>
                            <div class="rating">
                                <p class="text-right">
                                    <span class="ion-ios-star-outline"></span>
                                    <span class="ion-ios-star-outline"></span>
                                    <span class="ion-ios-star-outline"></span>
                                    <span class="ion-ios-star-outline"></span>
                                    <span class="ion-ios-star-outline"></span>
                                </p>
                            </div>
                        </div>
                        <hr>
                        <p class="bottom-area d-flex">
                            <a href="#" class="add-to-cart"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
                            <a href="#" class="ml-auto"><span><i class="ion-ios-heart-empty"></i></span></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg-3 ftco-animate">
                <div class="product">
                    <a href="#" class="img-prod"><img class="img-fluid" src="images/product-4.jpg" alt="Colorlib Template"></a>
                    <div class="text py-3 px-3">
                        <h3><a href="#">Young Woman Wearing Dress</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span>$120.00</span></p>
                            </div>
                            <div class="rating">
                                <p class="text-right">
                                    <span class="ion-ios-star-outline"></span>
                                    <span class="ion-ios-star-outline"></span>
                                    <span class="ion-ios-star-outline"></span>
                                    <span class="ion-ios-star-outline"></span>
                                    <span class="ion-ios-star-outline"></span>
                                </p>
                            </div>
                        </div>
                        <hr>
                        <p class="bottom-area d-flex">
                            <a href="#" class="add-to-cart"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
                            <a href="#" class="ml-auto"><span><i class="ion-ios-heart-empty"></i></span></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg-3 ftco-animate">
                <div class="product">
                    <a href="#" class="img-prod"><img class="img-fluid" src="images/product-5.jpg" alt="Colorlib Template"></a>
                    <div class="text py-3 px-3">
                        <h3><a href="#">Young Woman Wearing Dress</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span>$120.00</span></p>
                            </div>
                            <div class="rating">
                                <p class="text-right">
                                    <span class="ion-ios-star-outline"></span>
                                    <span class="ion-ios-star-outline"></span>
                                    <span class="ion-ios-star-outline"></span>
                                    <span class="ion-ios-star-outline"></span>
                                    <span class="ion-ios-star-outline"></span>
                                </p>
                            </div>
                        </div>
                        <hr>
                        <p class="bottom-area d-flex">
                            <a href="#" class="add-to-cart"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
                            <a href="#" class="ml-auto"><span><i class="ion-ios-heart-empty"></i></span></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg-3 ftco-animate">
                <div class="product">
                    <a href="#" class="img-prod"><img class="img-fluid" src="images/product-6.jpg" alt="Colorlib Template"></a>
                    <div class="text py-3 px-3">
                        <h3><a href="#">Young Woman Wearing Dress</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span>$120.00</span></p>
                            </div>
                            <div class="rating">
                                <p class="text-right">
                                    <span class="ion-ios-star-outline"></span>
                                    <span class="ion-ios-star-outline"></span>
                                    <span class="ion-ios-star-outline"></span>
                                    <span class="ion-ios-star-outline"></span>
                                    <span class="ion-ios-star-outline"></span>
                                </p>
                            </div>
                        </div>
                        <hr>
                        <p class="bottom-area d-flex">
                            <a href="#" class="add-to-cart"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
                            <a href="#" class="ml-auto"><span><i class="ion-ios-heart-empty"></i></span></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg-3 ftco-animate">
                <div class="product">
                    <a href="#" class="img-prod"><img class="img-fluid" src="images/product-7.jpg" alt="Colorlib Template"></a>
                    <div class="text py-3 px-3">
                        <h3><a href="#">Young Woman Wearing Dress</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span>$120.00</span></p>
                            </div>
                            <div class="rating">
                                <p class="text-right">
                                    <span class="ion-ios-star-outline"></span>
                                    <span class="ion-ios-star-outline"></span>
                                    <span class="ion-ios-star-outline"></span>
                                    <span class="ion-ios-star-outline"></span>
                                    <span class="ion-ios-star-outline"></span>
                                </p>
                            </div>
                        </div>
                        <hr>
                        <p class="bottom-area d-flex">
                            <a href="#" class="add-to-cart"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
                            <a href="#" class="ml-auto"><span><i class="ion-ios-heart-empty"></i></span></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg-3 ftco-animate">
                <div class="product">
                    <a href="#" class="img-prod"><img class="img-fluid" src="images/product-8.jpg" alt="Colorlib Template">
                        <span class="status">Best Sellers</span>
                    </a>
                    <div class="text py-3 px-3">
                        <h3><a href="#">Young Woman Wearing Dress</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span>$120.00</span></p>
                            </div>
                            <div class="rating">
                                <p class="text-right">
                                    <span class="ion-ios-star-outline"></span>
                                    <span class="ion-ios-star-outline"></span>
                                    <span class="ion-ios-star-outline"></span>
                                    <span class="ion-ios-star-outline"></span>
                                    <span class="ion-ios-star-outline"></span>
                                </p>
                            </div>
                        </div>
                        <hr>
                        <p class="bottom-area d-flex">
                            <a href="#" class="add-to-cart"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
                            <a href="#" class="ml-auto"><span><i class="ion-ios-heart-empty"></i></span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
      <div class="col text-center">
        <div class="block-27">
          <ul>
            <li><a href="#">&lt;</a></li>
            <li class="active"><span>1</span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&gt;</a></li>
          </ul>
        </div>
      </div>
    </div>
    </div>
</section>