{% include 'page-header' %}



{% include 'include-contact-form' %}
		


{% schema %}
{
  "name": "Contact Page",
  "settings": [
    {
        "type": "text",
        "id": "address",
        "label": "Address",
        "default": "<p>198 West 21th Street, Suite 721 New York NY 10016</p>"
    },
    {
        "type": "text",
        "id": "phone",
        "label": "Phone Number",
        "default": "<p>(123) 456-7890</p>"
    },
    {
        "type": "text",
        "id": "email",
        "label": "Email Address",
        "default": "<p>info@yoursite.com</p>"
    },
    {
        "type": "text",
        "id": "website",
        "label": "Website",
        "default": "<p>www.yoursite.com</p>"
    }

  ]
	
}

{% endschema %}