
<section class="ftco-section ftco-section-more img" style="background-image: url('{{ section.settings.bg-image | img_url: 'master' }}');">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
      <div class="col-md-12 heading-section ftco-animate">
          <h2>{{ section.settings.title }}</h2>
      </div>
    </div>
    </div>
</section>

{% schema %}
 {
   "name": "Season Sale",
    "settings": [
        {
           "type": "text",
           "id": "title",
           "label": "Season Sale Title",
              "default": "Summer Sale"
        },
		{
     "type": "image_picker",
      "id": "bg-image",
        "label": "  Season Sale Background Image"
        
    }
    
    ],
   "presets": [
       {
           
           "name":"Season Sale"
       }
   ]
 }
{% endschema %}